body {
    font-family: Arial, sans-serif;
    /* text-align: center; */
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
/* Main*/
#main {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#title {
    font-size: 2em;
    margin-bottom: 10px;
}

#img-div {
    margin: 20px 0;
}

#image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#img-caption {
    font-style: italic;
    color: #555;
    margin-top: 5px;
}

#tribute-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

#tribute-link:hover {
    text-decoration: underline;
}
